---
layout: default
prism: true
---

<div class="container max-w-5xl mt-6  px-6">

    <div class="prose lg:prose-xl my-4 mx-auto pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{ site.title }}</h1>
        <h2 class="font-bold text-5xl">{{title}}</h2>
        <p class="prose lg:prose-xl  mx-auto text-base font-medium text-gray-400">
            <time> {{ date | readableDate }}
                {% if author %}
                by
                <a>{{ author }}</a>
                {% endif %}
            </time>
        </p>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}</article>

        {% include "./partials/comments.html" %}
</div>
